<template>
  
  <div id="product-detail">
    
    <Error v-if="error" :error="error" />

    <!-- Product loaded -->
    <template v-if="productJsonApi">
      <div class="row">

        <div v-if="hasBreadcrumb" class="col-12" style="margin-top: -38px">
          <Breadcrumb :links="breadcrumbLinks" />
        </div>
          
        <!-- Images -->
        <div class="col-md-8" v-if="options.getPageData('product').options.layout.value !== 'detail-images'">
          <Images :images="images" />
        </div>

        <!-- Product detail -->
        <div class="col-md-4">
          
          <!-- Product title -->
          <h1 class="product-detail__title">{{ productJsonApi.document.data.attributes.title }}</h1>

          <!-- Review stars -->
          <div class="mt-1" style="height: 1.5 rem">
            <div style="display: inline-block;">
              <div class="mr-3" style="color: #ffab00"> 
                
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>

              </div>
            </div>
            <div style="display: inline-block;">
              <p> <a href="#" class="text-muted" @click="scrollToReviews">4.5 - 688 reviews</a></p>
            </div>
          </div>

          <!-- Price -->
          <div v-if="activeVariant" style="margin-top: 0.1rem">
            <strong class="text-danger" style="font-size: 36px; display: inline-block; font-weight: 700">{{ currencyHelper.formatted(activeVariant.attributes.price * qty) }}</strong>
            <template v-if="activeVariant.attributes.compare_at_price">
              <span class="ml-2" style="font-size: 1.5rem; line-height: 1.5; margin-left: .5rem; font-weight: lighter; text-decoration: line-through; display: inline-block;">
                {{ currencyHelper.formatted(activeVariant.attributes.compare_at_price*qty) }}
              </span>
            </template>

            <!-- Timer mobile -->
            <div class="product-detail__timer pt-2 d-block d-sm-block d-md-none" v-if="activeVariantId">
              <!--<Timer />-->
              <InStock :product-id="activeVariantId" min="2" max="15" />
            </div>
          </div>
          
          <div v-else>
            <strong class="text-danger" style="font-size: 32px; display: inline-block; font-weight: 700;">
              From {{ currencyHelper.formatted(productJsonApi.document.data.attributes.min_price * qty) }}
            </strong>
          </div>

          <!-- Options -->
          <template v-if="productJsonApi.document.data.relationships.options.data.length">
              <div class="mt-4" v-for="option, index in productJsonApi.findRelationshipResources(productJsonApi.document.data, 'options')">
                  <Option :option="option" :showAllOptions="productJsonApi.document.data.relationships.options.data.length > 1 && index === 0" :option-values="productJsonApi.findRelationshipResources(option, 'option_values')" :active-variant="activeVariant" />
              </div>
          </template>

          <!-- Qty -->
          <div class="product-detail__qty mt-4 pt-2">

            <div class="mb-3">
              <strong >Qty:</strong> <span class="ml-2 text-muted">{{ qty }}</span>
            </div>
            
            <div class="row">
              <div class="col-3">
                
                <select v-model="qty" class="" style="width: 80px">
                  <option v-for="i in 10" :key="i" :value="i">{{ i }}</option>
                </select>

              </div>
              <div class="col-9">
                
                <!-- Timer -->
                <div class="product-detail__timer d-none d-sm-none d-md-block" v-if="activeVariantId">
                  <!--<Timer />-->
                  <InStock :product-id="activeVariantId" min="2" max="15" />
                </div>

              </div>
            </div>
                
          </div>

          <!-- Buy button -->
          <button class="btn btn-icon btn-3 btn-primary btn-lg btn-block mt-3 product-detail__add-to-cart" type="button" :disabled="addingToCart" @click="addToCart">
            <span v-if="!addingToCart" class="btn-inner--text">Buy It Now</span>
            <span v-else class="btn-inner--text">Adding to cart</span>
          </button>

          <!-- After section -->
          <template v-if="options.getSectionComponents('product', 'after')">
            <div v-for="componentData, componentIndex in options.getSectionComponents('product', 'after')" :key="componentIndex" style="margin-top: 2rem">
              <component v-bind:is="componentData.key" :options="componentData.options" :active-variant-id="activeVariantId" :product-json-api="productJsonApi" />
            </div>
          </template>

          <!-- Product content -->
          <hr style="margin-top: 2rem;" />
          <h3 class="content-heading">Product detail</h3>
          <div v-if="productJsonApi.document.data.attributes.description" class="mb-3">
            <small class="text-muted">{{ productJsonApi.document.data.attributes.description }}</small>
          </div>
          <div v-html="productJsonApi.document.data.attributes.content"></div>

          <hr />
          <h3 class="content-heading">Shipping info</h3>
          <div class="shipping-info">
            <p>Orders ship within 5 to 10 business days.</p>
            <p>All products are made-to-order and proudly made in the United States.</p>
          </div>

        </div>

        <!-- Images -->
        <div class="col-md-8" v-if="options.getPageData('product').options.layout.value === 'detail-images'">
          <Images :images="images" />
        </div>

        <!-- Product content -->
        <!--<div class="col-12 mt-5 product-detail__content">

          <div class="row">
            <div class="col-md-7">
                
              <ul class="nav nav-tabs mb-3">
                <li class="nav-item">
                  <span :class="'nav-link ' + (activeTab === 'detail' ? 'active' : '')" style="cursor: pointer;" @click="setActiveTab('detail')">Product detail</span>
                </li>
              </ul>

              <div v-if="activeTab === 'detail'">
                <article style="padding:10px" v-html="productJsonApi.document.data.attributes.content"></article>
              </div>

              <div v-if="activeTab === 'reviews'">
                <CustomerReviews />
              </div>

            </div>
          </div>
              

        </div>-->

          

        <!-- Related products -->
        <div class="col-12" style="margin-top: 100px;" v-if="tagIds && tagIds.length">
          <RelatedProducts :tag-ids="tagIds" :exclude-ids="[this.productJsonApi.document.data.id]" />
        </div>

        <!-- Product reviews -->
        <div class="d-none" id="customer-reviews">
          <CustomerReviews />
        </div>

      </div>
    </template>

    <Loader v-else />

  </div>

</template>

<style type="text/css" lang="scss">
.swal2-close {
  z-index: 10000000;
}
#product-detail {

  .product-detail__title {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
  }

  .product-detail__add-to-cart {
    height: 55px;
    font-weight: bolder;
  }

  .product-detail__timer {
    margin-top: 10px;
  }

  .nice-select {
    height: 50px;

    .current {
      line-height: 50px;
    }
  }

  hr {
    border-top: 1px solid #f0f2f3 !important;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .content-heading {
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 700;
    color: #2d3436;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0px !important;
  }
}
</style>

<script type="text/javascript">
import mixin from '@/mixins/products/detail';

import Images from '@/views/products/detail-components/Images';
import Option from '@/views/products/detail-components/Option';

import RelatedProducts from '@/components/RelatedProducts';
import Breadcrumb from '@/components/Breadcrumb';

// Widgets
import DeliveryEstimation from '@/widgets/DeliveryEstimation';
import InStock from '@/widgets/InStock';
import Timer from '@/widgets/Timer';
import PeopleWatching from '@/widgets/PeopleWatching';
import CustomerReviews from '@/widgets/CustomerReviews';

import $ from 'jquery';
import swal from 'sweetalert2';

import JsonApi from '@/helpers/JsonApi';
import options from '@/helpers/options';

export default {

  mixins: [mixin],

  components: { Images, Option, RelatedProducts, Breadcrumb,
    DeliveryEstimation, InStock, Timer, PeopleWatching, CustomerReviews
  },

  data() {

    return {
      activeTab: 'detail',

      options
    };

  },

  mounted() {

    this.activeNiceSelect();

  },

  methods: {

    activeNiceSelect() {

      $(document).ready(() => {
        
        let superObject = this;

        let findElement = setInterval(() => {

          let element = $(this.$el).find('.product-detail__qty select');

          if (!element.length) {
            return;
          }

          element.niceSelect();
          element.change(function() {
            superObject.qty = $(this).val();
          });

          clearInterval(findElement);

        }, 100);

        
      });

    },

    setActiveTab(tab) {
      this.activeTab = tab;
    },

    scrollToReviews() {

      let popupContentHeight = Math.round($(window).height()*0.7);

      swal.fire({
        html: $(this.$el).find('#customer-reviews').html(),
        confirmButtonText: 'Great',
        showCloseButton: true,
        heightAuto: false
      });

      $('#swal2-content').css({
        'max-height': popupContentHeight + 'px',
        'overflow-y': 'scroll',
        'overflow-x': 'hidden'
      });

    },

    findCollection(id) {

      if (!this.collectionsJsonApi) {
        return null;
      }

      for (let i = 0; i < this.collectionsJsonApi.document.data.length; i++) {

        if (this.collectionsJsonApi.document.data[i].id === id) {
          return this.collectionsJsonApi.document.data[i];
        }

      }

      return null;

    }

  },

  watch: {

    slug: function() {
      this.activeNiceSelect();
    }

  },

  computed: {

    hasBreadcrumb: function() {

      return (typeof this.productJsonApi.document.data.relationships.collection_product !== 'undefined' && this.productJsonApi.document.data.relationships.collection_product.data.length) ? true : false;

    },

    breadcrumbLinks: function() {

      let links = [{ text: 'Home', to: { name: 'home.index' }}];

      if (this.collectionsJsonApi && this.hasBreadcrumb) {

        // Find primary
        let primaryCollection = null;

        let collectionProducts = this.productJsonApi.findRelationshipResources(this.productJsonApi.document.data, 'collection_product');

        for (let i = 0; i < this.collectionsJsonApi.document.data.length; i++) {

          let foundPrimary = false;
          let collection = this.collectionsJsonApi.document.data[i];

          for (let k = 0; k < collectionProducts.length; k++) {

            let collectionProduct = collectionProducts[k];

            if (collectionProduct.attributes.collection_id === collection.id) {
              
              primaryCollection = collection;

              if (collectionProduct.attributes.primary) {
                foundPrimary = true;
                break;
              }

            }

          }

          if (foundPrimary) {
            break;
          }

        }

        let collectionLinks = [];

        let makeCollectionLinks = collection => {

          collectionLinks.push({
            text: collection.attributes.title,
            to: { name: 'collections.detail', params: { slug: collection.attributes.slug } }
          });

          // Find parent
          if (collection.attributes.parent_id) {

            for (let i = 0; i < this.collectionsJsonApi.document.data.length; i++) {

              if (this.collectionsJsonApi.document.data[i].id === collection.attributes.parent_id) {
                makeCollectionLinks(this.collectionsJsonApi.document.data[i]);
              }

            }

          }

        };

        makeCollectionLinks(primaryCollection);

        collectionLinks.reverse();

        links = links.concat(collectionLinks);

      }

      links.push({
        text: this.productJsonApi.document.data.attributes.title
      });

      return links;

    },

    collectionsJsonApi: function() {

      let collections = this.$store.state.cache['collections' + JSON.stringify({
        shop_id: (typeof window.shop !== 'undefined') ? window.shop.id : null
      })];

      if (!collections) {
        return null;
      }

      return new JsonApi(JSON.parse(collections).data);

    }

  }

}
</script>