<template>
  <div id="page-detail">
    
    <Loader v-if="isLoading" />

    <template v-if="pageJsonApi">
      
      <h1>{{ pageJsonApi.document.data.attributes.title }}</h1>
      <p>{{ pageJsonApi.document.data.attributes.description }}</p>
      <hr />

      <article v-html="pageJsonApi.document.data.attributes.content"></article>

    </template>

  </div>
</template>

<script type="text/javascript">
import mixin from '@/mixins/pages/detail';

import Loader from '@/components/Loader';

export default {

  mixins: [mixin],

  components: { Loader }

}
</script>