<template>
  <div class="row cart-items">

    <div class="col-12" v-if="$store.state.loadingCart">
      <Loader />
    </div>

    <template v-else>

      <div style="width: 100%" v-if="!cart || !cart.data.relationships.cart_items.data.length">
        <p class="text-center">Your cart is empty!</p>
      </div>

      <div v-else v-for="cartItem, index in cartJsonApi.findRelationshipResources(cart.data, 'cart_items')" class="card mb-3" style="width: 100%">

        <div class="card-body" style="position: relative; padding-bottom: 5px; padding-top: 12px;">
          <div class="row">

            <div class="col-4 col-md-3">
              <img :src="imageHelper.url(findImage(cartItem))" />
            </div>

            <div class="col-8 col-md-9">

              <router-link :to="{ name: 'products.detail', params: { slug: findProduct(cartItem).attributes.slug } }"><h5>{{ findProduct(cartItem).attributes.title }}</h5></router-link>
              <p class="mb-1">{{ findVariant(cartItem).attributes.title }}</p>
              
              <div class="row">
                <div class="col-sm-7">

                  <!-- Qty -->
                  <div style="display: inline; margin-right: 8px;">Qty:</div>
                  <div style="display: inline;">
                    <div class="cart-items__qty-button" @click="updateQty(findVariant(cartItem).id, cartItem.attributes.quantity - 1)" style="padding-left: 5px;">-</div>
                    <span class="cart-items__qty">
                      {{ cartItem.attributes.quantity }}
                    </span>
                    <div class="cart-items__qty-button" @click="updateQty(findVariant(cartItem).id, cartItem.attributes.quantity + 1)" style="padding-left: 3px;">+</div>
                  </div>

                </div>
                <div class="col-sm-5 text-right pt-3">
                    
                  <!-- Price -->
                  <p>
                    <small style="text-decoration: line-through;" class="text-muted" v-if="findVariant(cartItem).attributes.compare_at_price">{{ currencyHelper.formatted(findVariant(cartItem).attributes.compare_at_price) }}</small>
                    <span class="ml-2">{{ currencyHelper.formatted(findVariant(cartItem).attributes.price) }}</span>
                  </p>

                </div>
              </div>              

            </div>

          </div>
          <i @click="deleteCartItem(cartItem.id)" class="fas fa-times" style="position: absolute; top: 15px; right: 15px; cursor: pointer;"></i>
        </div>

      </div>

    </template>


  </div>
</template>

<style type="text/css" lang="scss">
.cart-items {

  a:hover {
    text-decoration: none;
  }

  h5 {
    color: #2d3436;
    font-size: 16px;
  }

  .cart-items__qty-button {
    border: 2px solid #b2bec3;
    color: #b2bec3;
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 10px;
    line-height: 16px;
    font-weight: bolder;
    overflow: hidden;
    vertical-align: middle;
    margin-top: -5px;
    cursor: pointer;
  }

  .cart-items__qty {
    font-size: 20px;
    font-weight: bolder;
    padding: 5px;
  }

}

</style>

<script type="text/javascript">
import mixin from '@/mixins/components/cart-items';

import Loader from '@/components/Loader';

export default {

  mixins: [mixin],

  components: { Loader }

}
</script>