<template>
  <div class="collection">

    <template v-if="!collectionJsonApi">
      <Loader />
    </template>

    <template v-if="error">
      <h3>Error!</h3>
      <p>{{ error }}</p>
    </template>

    <div v-if="collectionJsonApi && !error" class="row">

      <div class="col-12" style="margin-top: -30px">
        <Breadcrumb :links="breadcrumbLinks" />
      </div>

      <div class="col-12 col-md-4 col-lg-3">
        <h1 class="collection__heading">{{ collectionJsonApi.document.data[0].attributes.title }}</h1>
        <p v-if="collectionJsonApi.document.data[0].attributes.description">{{ collectionJsonApi.document.data[0].attributes.description }}</p>
        
        <template v-if="childCollections.length">
          <hr />

          <!-- Child collections -->
          <div v-for="childCollection in childCollections" class="card mb-3">

            <div class="row">
              <div class="col-4">
                <router-link :to="{ name: 'collections.detail', params: { slug: childCollection.attributes.slug } }">
                  <img :src="imageHelper.resize(collectionsJsonApi.findRelationshipResource(childCollection, 'image'), 200, true)" :title="childCollection.attributes.title" :alt="childCollection.attributes.description" />
                </router-link>
              </div>

              <div class="col-8 pl-0 pt-2">
                <router-link :to="{ name: 'collections.detail', params: { slug: childCollection.attributes.slug } }" :title="childCollection.attributes.title">
                  <strong style="color: black;">{{ childCollection.attributes.title }}</strong>
                </router-link>
                <div><small>({{ childCollection.attributes.product_count }} product{{ childCollection.attributes.product_count > 1 ? 's' : '' }})</small></div>
              </div>
            </div>

          </div>
          <!-- End child collections -->

        </template>

      </div>

      <!-- Products -->
      <div class="col-12 col-md-8 col-lg-9">
        
        <div class="text-center" v-if="!isLoadingProducts && !productsJsonApi">
            <h5 class="text-muted text-center">No product found</h5>
        </div>

        <div class="row" v-if="productsJsonApi">

          <div class="col-12 text-right mb-5">
            <select class="form-control form-control-md collection__sort-by mb-3" v-model="sortingMode">
              <option value="">Newest</option>
              <option value="best-seller">Best seller</option>
              <option value="price-low-to-high">Price: Low to high</option>
              <option value="price-high-to-low">Price: High to low</option>
            </select>
          </div>

          <div class="col-6 col-lg-4 col-md-6 mb-5" v-for="product in productsJsonApi.document.data">
            <ProductBox :product="product" :variant="productsJsonApi.findRelationshipResource(product, 'variants')" :image="productsJsonApi.findRelationshipResource(product, 'image')" />
          </div>
          <div class="col-12">
            <Pagination :number-of-results="productsJsonApi.document.data.length" :results-per-page="productLimit" />
          </div>
          <div class="col-12 mt-3">
            <template v-if="collectionJsonApi.document.data[0].attributes.content">
              <hr />
              <article class="text-muted" style="font-size: 15px" v-html="collectionJsonApi.document.data[0].attributes.content"></article>
            </template>
          </div>
        </div>

        <div class="col-12" v-if="isLoadingProducts">
          <Loader />
        </div>

      </div>

    </div>

  </div>
</template>

<style type="text/css" lang="scss">
.collection {

  .collection__heading {
    font-size: 2.25rem;
    line-height: 1.5;
    font-weight: 900;
  }

  a:hover {
    text-decoration: none;
  }

}

.collection__sort-by {

    @media(min-width: 960px) {
        width: 250px;
    }

    float: right;

}
</style>

<script type="text/javascript">
import mixin from '@/mixins/collections/detail';

import Loader from '@/components/Loader';
import ProductBox from '@/components/ProductBox';
import Pagination from '@/components/Pagination';
import Breadcrumb from '@/components/Breadcrumb';

import api from '@/helpers/api';
import JsonApi from '@/helpers/JsonApi';
import imageHelper from '@/helpers/image';

export default {

  mixins: [mixin],

  components: { Loader, ProductBox, Pagination, Breadcrumb },

  data() {

    return {
      collectionsJsonApi: null,
      imageHelper
    };

  },

  created() {

    // Load collections
    api.get('collections').then(response => {
      this.collectionsJsonApi = new JsonApi(response.data);
    }).catch(e => {});

  },

  methods: {

    parentCollection(collection) {

      if (!this.collectionsJsonApi) {
        return null;
      }

      for (let i = 0; i < this.collectionsJsonApi.document.data.length; i++) {

        if (this.collectionsJsonApi.document.data[i].id === collection.attributes.parent_id) {
          return this.collectionsJsonApi.document.data[i];
        }

      }

      return null;

    }

  },

  computed: {

    childCollections: function() {

      let collectionsJsonApi = this.collectionsJsonApi;

      if (!collectionsJsonApi) {
        return [];
      }

      let childCollections = [];

      for (let i = 0; i < collectionsJsonApi.document.data.length; i++) {

        if (collectionsJsonApi.document.data[i].attributes.parent_id === this.collectionJsonApi.document.data[0].id) {
          childCollections.push(collectionsJsonApi.document.data[i]);
        }

      }

      return childCollections;

    },

    breadcrumbLinks: function() {

      let links = [{
        text: 'Home',
        to: {
          name: 'home.index'
        }
      }];

      let collectionLinks = [{
        text: this.collectionJsonApi.document.data[0].attributes.title,
        to: {
          name: 'collections.detail',
          params: {
            slug: this.collectionJsonApi.document.data[0].attributes.slug
          }
        }
      }];

      let collection = this.collectionJsonApi.document.data[0];

      while (this.parentCollection(collection)) {

        collection = this.parentCollection(collection);

        collectionLinks.push({
          text: collection.attributes.title,
          to: {
            name: 'collections.detail',
            params: {
              slug: collection.attributes.slug
            }
          }
        });

      }

      collectionLinks.reverse();

      links = links.concat(collectionLinks);

      return links;

    }

  }

}
</script>