<template>
  <div id="home-index">
    
    <div class="row" v-if="productsJsonApi">
      <div class="col-lg-3 col-6 mb-5" v-for="product in productsJsonApi.document.data">
        <ProductBox :product="product" :variant="productsJsonApi.findRelationshipResource(product, 'variants')" :image="productsJsonApi.findRelationshipResource(product, 'image')" />
      </div>
    </div>

    <Loader v-else />

  </div>
</template>

<script type="text/javascript">
import mixin from '@/mixins/home/index';

export default {

  mixins: [mixin]

}
</script>